<%- contentFor( 'body') %>
<div class="jumbotron">
    <h1 class="display-4">Sobre</h1>
    <p class="lead">Sistema para cadastro de pessoas</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing <br>
        Molestiae quidem explicabo at asperiores, voluptate quos fugiat. <br>
        Perferendis id ea rerum quis? Esse adipisci, eius perferendis<br>
        delectus soluta illo autem neque?</p>
  </div>