<%- contentFor( 'body') %>

<div id="page-container">
    <div style="background:transparent !important" class="table-responsive-xl" id="content-wrap">
        <div class="content">
            <div class="content-text">
                <h2 class="text-center" style="margin-top: 10px;">Sobre a aplicação.</h2>
            </div>            
            <p>
                Aplicação desenvolvida na disciplina de Autoração multimídia II do curso de Sistemas e Mídias Digitais (UFC).
            <b></b>
                O objetivo da aplicação é construir um sistema de cadastro simples utilizandoHTML5, CSS3 e Javascript com NodeJS.
            <b></b>
                A aplicação possibilita cadastrar, atualizar e deletar, construído utilizando EJS com arquitetura MVC (Model–View–Controller).
            </p>
        </div>
    </div>
</div>