<%- contentFor( 'body') %>
<div id="page-container">
    <div style="background:transparent !important" class="table-responsive-xl" id="content-wrap">
        <div class="content">
            <div class="jumbotron" style="margin-top: 30px;">
                <h1 class="text-center">BEM VINDO</h1>
                <h5 class="text-center">Este é um sistema de cadastro construído a fim de aprofundar nossos conhecimentos em JavaScript e NodeJS</h5>
                <h6 class="text-center">Disciplina de Autoração Multimídia II do curso de Sistemas e Mídias Digitais (Universidade Federal do Ceará)</h6>
            </div> 
        </div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugit ad, excepturi ex tempora amet quisquam quae repudiandae
            animi quo inventore officia eius minus eaque repellat iure.
            Dolorem hic aperiam commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugit ad, excepturi ex tempora amet quisquam quae repudiandae
            animi quo inventore officia eius minus eaque repellat iure.
            Dolorem hic aperiam commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugit ad, excepturi ex tempora amet quisquam quae repudiandae
            animi quo inventore officia eius minus eaque repellat iure.
            Dolorem hic aperiam commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugit ad, excepturi ex tempora amet quisquam quae repudiandae
            animi quo inventore officia eius minus eaque repellat iure.
            Dolorem hic aperiam commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugit ad, excepturi ex tempora amet quisquam quae repudiandae
            animi quo inventore officia eius minus eaque repellat iure.
            Dolorem hic aperiam commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugit ad, excepturi ex tempora amet quisquam quae repudiandae
            animi quo inventore officia eius minus eaque repellat iure.
            Dolorem hic aperiam commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugit ad, excepturi ex tempora amet quisquam quae repudiandae
            animi quo inventore officia eius minus eaque repellat iure.
            Dolorem hic aperiam commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugit ad, excepturi ex tempora amet quisquam quae repudiandae
            animi quo inventore officia eius minus eaque repellat iure.
            Dolorem hic aperiam commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugit ad, excepturi ex tempora amet quisquam quae repudiandae
            animi quo inventore officia eius minus eaque repellat iure.
            Dolorem hic aperiam commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugit ad, excepturi ex tempora amet quisquam quae repudiandae
            animi quo inventore officia eius minus eaque repellat iure.
            Dolorem hic aperiam commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Fugit ad, excepturi ex tempora amet quisquam quae repudiandae
            animi quo inventore officia eius minus eaque repellat iure.
            Dolorem hic aperiam commodi.</p>
        </div>
    </div>
</div>